Competitor YouTube Trading Content Analysis and Ad Script Generator.json
{
  "name": "Competitor YouTube Trading Content Analysis and Ad Script Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "c40bac60-70e5-412d-9bfd-80db0cd8a1c4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        560,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "apifyApiUrl",
              "value": "https://api.apify.com/v2/actor-tasks",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "apifyTaskId",
              "value": "<__PLACEHOLDER_VALUE__Apify Task ID__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "apifyToken",
              "value": "<__PLACEHOLDER_VALUE__Apify API Token__>",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "openRouterApiUrl",
              "value": "https://api.openrouter.ai/v1/chat/completions",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "openRouterApiKey",
              "value": "<__PLACEHOLDER_VALUE__OpenRouter API Key__>",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "llmModel",
              "value": "gpt-4o-mini",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "maxYouTubeResults",
              "value": 8,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4d10df32-d7de-421c-9a2b-015edd5ca21c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        144
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Google Sheet ID__>"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "competitors"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A2:A"
            }
          }
        }
      },
      "id": "d748007a-3435-421f-b72e-2e9626514669",
      "name": "Read Competitors",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "query",
              "value": "={{ $json.Name }} YouTube trading strategy",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "competitor",
              "value": "={{ $json.Name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3021e05b-bb9d-4a3f-abce-5821f061de74",
      "name": "Build Search Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.apifyApiUrl }}/={{ $('Workflow Configuration').first().json.apifyTaskId }}/runs?token={{ $('Workflow Configuration').first().json.apifyToken }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "searchQuery",
              "value": "={{ $json.query }}"
            },
            {
              "name": "maxResults",
              "value": "={{ $('Workflow Configuration').first().json.maxYouTubeResults }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f815a3-5b88-4177-8429-06a33ddbd26a",
      "name": "Apify Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nconst data = items[0].json.data || [];\nfor (const item of data) {\n  out.push({\n    json: {\n      title: item.title,\n      url: item.url,\n      views: item.views || 0,\n      likes: item.likes || 0,\n      comments: item.comments || 0,\n      competitor: $('Build Search Query').first().json.competitor\n    }\n  });\n}\nreturn out;"
      },
      "id": "d768c34b-f6f0-495c-be2d-2fa2d7bd6545",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        144
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Google Sheet ID__>"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "raw_results"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "624af142-86e9-47a1-b619-ee5cdf53ab54",
      "name": "Append to Raw Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items.map(i => i.json);\ndata.sort((a, b) => {\n  const scoreA = (a.likes * 2) + (a.comments * 3) + (a.views * 0.5);\n  const scoreB = (b.likes * 2) + (b.comments * 3) + (b.views * 0.5);\n  return scoreB - scoreA;\n});\nreturn [{ json: data[0] }];"
      },
      "id": "5e342d50-e9b1-4a27-ad37-5c54516be5df",
      "name": "Pick Best Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.openRouterApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Workflow Configuration').first().json.openRouterApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $('Workflow Configuration').first().json.llmModel,\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert YouTube video analyst for trading content.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this video: \" + $json.url + \"\\nTitle: \" + $json.title + \"\\nViews: \" + $json.views + \"\\nLikes: \" + $json.likes + \"\\nComments: \" + $json.comments + \"\\n\\nProvide: 1) 30-word summary, 2) Hooks, 3) Audience, 4) Pain point, 5) 3 ad angles.\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "5c3db499-0f3b-4287-9b23-3f40d6e0ccdb",
      "name": "LLM Video Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.openRouterApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Workflow Configuration').first().json.openRouterApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $('Workflow Configuration').first().json.llmModel,\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior marketing strategist and copywriter.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create HTML summary + 3 polished ad scripts based on this: \" + JSON.stringify($json)\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "d993390b-1d27-4f6d-af91-648c65c68be0",
      "name": "Final AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2576,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Competitors": {
      "main": [
        [
          {
            "node": "Build Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Query": {
      "main": [
        [
          {
            "node": "Apify Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Scrape": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Append to Raw Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Raw Results": {
      "main": [
        [
          {
            "node": "Pick Best Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Video": {
      "main": [
        [
          {
            "node": "LLM Video Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Video Analysis": {
      "main": [
        [
          {
            "node": "Final AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79d36d6a-0035-4860-ad0f-df80a80a03e8",
  "meta": {
    "instanceId": "c525db833d646241ceb6354d96e2c4bc93a0d157c72d52c930a668da3a4d3f7d"
  },
  "id": "BXMSOC8FdHjmAgbe",
  "tags": []
}